@use '../styles/color.scss' as *;

.Cell {
  cursor: pointer;
  box-sizing: border-box;
  z-index: 2;

  &.is-alive {
    background-color: $color-gray-xl;
  }

  &.has-border {
    border-right: 1px solid $color-gray-m;
    border-bottom: 1px solid $color-gray-m;
  }
}
